<ion-view title="{{navTitle}}" align-title="center" class="cyan">
    <ion-content class="marginBottom" overflow-scroll ="true">
        <img class="PlaceImage" src="../images/48.jpg" />
        <div class="card">
            <div class="item item-divider item-positive">
                I'm a Header in a Card!
            </div>
            <div class="item item-text-wrap">
                This is a basic Card with some text.
                This is a basic Card with some text.                
            </div>

            <div class="item item-divider noMarginPadding">
                <div class="list card noMarginPadding">

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-play"></i>
                        Enter home address
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-play"></i>
                        Enter phone number
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-play"></i>
                        Enter wireless password
                    </a>

                    <a href="#" class="item item-icon-left">
                        <i class="icon ion-play"></i>
                        Enter card information
                    </a>

                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer class="footer-calm">
        <!--<hr />
        <div class="row">
            <div class="center">This is a basic Card</div>
        </div>
        <div class="row plyBtn">
            <div class="col col-offset-10"><i class="icon ion-play"></i></div>
            <div class="col"><i class="icon ion-pause"></i></div>
            <div class="col"><i class="icon ion-stop"></i></div>
            <div class="col">10s<i class="icon ion-arrow-return-left"></i></div>
        </div>
        <div class="list calm-bg">
            <div class="item range calm-bg noBoarder">
                <i>23:34</i>
                <input type="range" name="volume" min="0" max="100" value="33">
                <i>54:21</i>
            </div>
        </div>-->
    </ion-footer>
</ion-view>
